h1{
    color:rgb(207, 230, 197);
    text-decoration: none;   
}
p{
    color: rgb(211, 216, 208);
    text-decoration: none;
 }

ol li{
    color: rgb(220, 240, 218);

}
img{
    width: 300px; 
    length: 200px;
}ol li{
    color: rgb(211, 228, 209);

}
img{
    width: 300px; 
    length: 200px;
}
h2{
    color: rgb(230, 236, 225);
}


